@import "tailwindcss";

@font-face {
  font-family: anzo1;
  src: url(./assets/file1-BukOhbJz.woff2);
}
@font-face {
  font-family: anzo2;
  src: url(./assets/file2-CI4uSGJA.woff2);
}
@font-face {
  font-family: anzo3;
  src: url(./assets/file3-C9KfY69P.woff2);
}
@font-face {
  font-family: anzo4;
  src: url(./assets/file4-B5Lp_o-A.woff2);
}
@font-face {
  font-family: anzo5;
  src: url(./assets/file5-qSkmV5U_.woff2);
}
*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body{
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  overflow-x: hidden;
}
#page1-in{
  perspective: 700px;
}
#tiltDiv{
  /* background-color: red; */
  width: fit-content;
  /* transform: rotateX(90deg); */
} 
#page2,#page5{
  position: relative;
  perspective: 3000px;
}
.rotateText,.rotateText2{
  transform-origin: 100% 70%;
}